.rotate90 {
	transform: rotate(90deg);
	transition: .25s;
}

@keyframes selectorMenuSlideDown {
	from {
		transform: translateY(-75vh);
	}

	to {
		transform: translateY(0vh);
	}
}
.selectorMenuSlideDown {
	animation-name: selectorMenuSlideDown;
	animation-duration: .25s;
	animation-fill-mode: forwards;
}

@keyframes selectorMenuSlideUp {
	from {
		transform: translateY(0vh);
	}

	to {
		transform: translateY(-75vh);
	}
}
.selectorMenuSlideUp {
	animation-name: selectorMenuSlideUp;
	animation-duration: .25s;
	animation-fill-mode: forwards;
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
.fadeIn {
	animation-name: fadeIn;
	animation-duration: .1s;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
.fadeOut {
	animation-name: fadeOut;
	animation-duration: .1s;
	animation-fill-mode: forwards;
}

@keyframes varFlashSuccess {
	from {
		background-color: #8fde5d;
	}

	to {
		background-color: transparent;
	}
}
.varFlashSuccess {
	animation-name: varFlashSuccess;
	animation-duration: 1s;
}

@keyframes varFlashError {
	from {
		background-color: #eb564b;
	}

	to {
		background-color: transparent;
	}
}
.varFlashError {
	animation-name: varFlashError;
	animation-duration: 1s;
}