#dialogWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.66);
	z-index: 3;
}

.dialog {
	padding: 24px;
	color: #fff;
	background-color: #43434f;
	box-shadow: 0px 8px 12px -6px #000;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.dialog .button {
	background-color: #4b5bab;
	color: #fff;
	margin-right: 8px;
}

#loginDialog {
	width: 300px;
}

#loginDialog input {
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.2);
	font-family: "Roboto", sans-serif;
	padding: 8px;
	font-size: 14pt;
	margin-bottom: 8px;
	background-color: #272736;
	color: #c2c2d1;
	width: 100%;
}

#loginDialog input:last-child {
	margin-bottom: 0px;
}

.dialogButtons {
	margin-top: 16px;
	text-align: center;
}

.dialogHeader {
	padding: 24px;
	background-color: rgba(0, 0, 0, 0.33);
	font-size: 20pt;
	font-weight: 300;
}
.dialogHeader .closeDialogButton {
	float: right;
}

#playerDialog {
	padding: 0;
	width: 500px;
}

.dialogContent {
	padding: 24px;
	color: #fff;
	line-height: 17pt;
}

.dialogSmallText {
	margin-left: 8px;
	margin-right: 8px;
	font-size: 10pt;
	opacity: 0.33;
}

#playerStatTable {
	color: #fff;
	table-layout: fixed;
}

#playerStatTable tr td:nth-child(1) {
	width: 128px;
	font-weight: 700;
	opacity: 0.75;
}