body {
	font-family: "Roboto", sans-serif;
	background-color: #eee;
}

#header {
	background-color: #3ca370;
	color: #fff;
	position: fixed;
	padding-left: 16px;
	padding-right: 16px;
	width: calc(100% - 32px);
	height: 64px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	line-height: 64px;
	z-index: 2;
}

.button {
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 6px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	font-size: 10pt;
	height: 20px;
	display: unset;
	transition: .1s;
}

.button:hover {
	background-color: #000 !important;
	color: #fff !important;
	transition: .1s;
}

#startStopButtons {
	float: right;
}

#startStopButtons .button {
	margin-left: 8px;
}

#startStopButton {
	background-color: #eb564b;
	color: #fff;
}

#restartButton {
	background-color: #ffe478;
	color: #000;
}

#selectorMenuSelected {
	position: fixed;
	left: 0;
	padding-left: 16px;
	padding-right: 16px;
	transition: .1s;
	min-width: 400px;
}
#selectorMenuSelected:hover {
	background-color: rgba(255, 255, 255, 0.15);
	transition: .1s;
}

#selectorMenuIcon {
	font-size: 16pt;
	margin-right: 12px;
	float: left;
	line-height: 64px;
	transition: .1s;
}

#selectorMenuSelected .selectorRow {
	display: table-cell;
	vertical-align: middle;
	height: 64px;
	line-height: 20px;
}

.selectorHost {
	font-style: italic;
}
.selectorHost::after {
	content: "'s ";
}
.selectorTitle {
	font-weight: 700;
}
.selectorAddress {
	opacity: 0.5;
	font-size: 8pt;
}
.selectorIdent {
	opacity: 0.66;
	font-weight: 700;
	font-size: 10pt;
}
.selectorIdent::before {
	content: "(";
}
.selectorIdent::after {
	content: ") ";
}
.selectorPermissions {
	opacity: 0.33;
	font-size: 8pt;
}

.wrapper {
	position: absolute;
	top: 64px;
	width: 100%;
	line-height: 30px;
}

.row {
	display: flex;
}

.card {
	display: flex;
	padding: 24px;
	margin: 24px;
	margin-bottom: 0px;
	border-radius: 12px;
	background-color: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
	justify-content: space-evenly;
}

#generalStatusCard {
	width: 100%;
}

#generalStatusCard h1 {
	opacity: 0.4;
	font-weight: 700;
	font-size: 12pt;
	text-align: center;
}

#playerCard, #uptimeValue, #brickCountValue {
	font-size: 24pt;
	font-weight: 900;
}

.cardContentFlex {
	width: 33%;
	text-align: center;
}

#consoleCard {
	background-color: #323e4f;
	font-family: monospace;
	color: #c2c2d1;
	width: 70%;
	line-height: 13pt;
	position: relative;
}

#chatCard {
	width: 30%;
	background-color: #7e7e8f;
	line-height: 20pt;
	position: relative;
	margin-left: 0;
}

#consoleCard, #chatCard {
	justify-content: flex-start;
}

.cardContent {
	max-height: 400px;
	min-height: 400px;
	overflow-y: auto;
	margin-bottom: 24px;
}

#chatCard .cardContent, #chatInput {
	color: #fff;
	font-family: "Palatino Linotype", serif;
	font-size: 14pt;
	text-shadow: -1px 1px 0 #000,
				 1px 1px 0 #000,
				 1px -1px 0 #000,
				 -1px -1px 0 #000;
	max-width: 100%;
}

.chatName {
	color: yellow;
}
.chatNameRemote {
	color: lime;
}
.chatName::after {
	content: ": ";
	color: white;
}

.chatRow {
	position: relative;
	width: 100%;
	overflow-wrap: break-word;
}

#consoleInput, #chatInput {
	border: 0;
	outline: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

#consoleInput {
	background-color: #272736;
	color: #c2c2d1;
	font-family: monospace;
}

#chatInput {
	background-color: #606070;
	font-size: 12pt;
	line-height: 13pt;
}

.notifWrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.notification {
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: 500;
	font-size: 12pt;
	line-height: 20px;
}

.notification i {
	margin-right: 4px;
}

.warningNotification {
	background-color: #ffe478;
	color: #000;
}
.successNotification {
	background-color: #3ca370;
	color: #fff;
}
.infoNotification {
	background-color: #323e4f;
	color: #fff;
}
.errorNotification {
	background-color: #eb564b;
	color: #fff;
}

#selectorMenu {
	display: none;
	position: fixed;
	left: 0;
	top: 64px;
	z-index: 1;
	max-width: 350px;
	background-color: #fff;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	max-height: calc(100vh - 64px);
	overflow-y: auto;
}

#selectorMenu .selectorRow {
	line-height: 20px;
	padding: 16px;
	border-bottom: 1px solid #ddd;
}

.selectorMenuActive {
	background-color: rgba(255, 255, 255, 0.15);
	transition: .1s;	
}

#selectorMenu .selectorRow:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.disabled {
	opacity: 0.33;
	filter: grayscale(66%);
}