#variableList {
	width: 100%;
	line-height: 12pt;
	color: #fff;
	margin-bottom: 0px;
}
#variablesCard .cardContent {
	margin-bottom: 32px;
}
#variableList tr td {
	font-size: 10pt;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
#variableList tr:last-child td {
	border-bottom: none;
}
#variableList tr td:nth-child(1) {
	text-align: right;
	font-weight: 500;
	opacity: 0.5;
	background-color: rgba(0, 0, 0, 0.5);
	padding-left: 8px;
	padding-right: 8px;
}
#variableList tr td:nth-child(2) {
	width: 100%;
}
.alternateVarName {
	font-weight: 300;
	opacity: 0.33;
}

#variableList input {
	padding: 6px;
}

#variableList input[type="checkbox"] {
	/* wtf */
	margin: 6px;
}

#variableList input[type="text"], #variableList input[type="password"] {
	background: transparent;
	outline: none;
	border: none;
	color: #fff;
	font-size: 10pt;
	width: 100%;
}

#variableList input[type="text"]:active, #variableList input[type="password"]:active, #variableList input[type="text"]:focus, #variableList input[type="password"]:focus {
	background: #000;
}

#variablesCardButtons {
	position: absolute;
	bottom: 14px;
	right: 24px;
}

#variablesCardButtons .button {
	margin-left: 4px;
}

#saveVarsButton {
	background-color: #3ca370;
	color: #fff;
}

#resetVarsButton {
	background-color: #eb564b;
	color: #fff;
}